@media only screen and (min-width:320px) {
	body {
		font-size: 75%;
	}
}
@media only screen and (min-width:480px) {
	body {
		font-size: 85%;
	}
}
@media only screen and (min-width:768px) {
	body {
		font-size: 100%;
	}
}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
